{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card shadow p-4">

<h2>

Review

{{ car.name }}

</h2>


<form method="POST">

{% csrf_token %}


<label class="mb-2">

Rating

</label>


<div class="mb-4">

<input type="radio"
name="rating"
value="1"> ⭐

<input type="radio"
name="rating"
value="2"> ⭐⭐

<input type="radio"
name="rating"
value="3"> ⭐⭐⭐

<input type="radio"
name="rating"
value="4"> ⭐⭐⭐⭐

<input type="radio"
name="rating"
value="5"> ⭐⭐⭐⭐⭐

</div>



<label>

Comment

</label>


<textarea

name="comment"

class="form-control mb-4"

required

></textarea>



<button

id="submitBtn"

class="btn btn-success"

>

Submit Review

</button>



<script>

document.getElementById(

'submitBtn'

).onclick=function(){

this.innerHTML=

'Submitting...'

}

</script>

</form>

</div>

</div>


{% endblock %}