{% extends 'base.html' %}

{% block content %}

<div class="card p-4 shadow">

<h2>

Book {{ car.name }}

</h2>


<form method="POST">

{% csrf_token %}


<label>

Pickup Location

</label>

<select
name="pickup_location"
class="form-control mb-3"
required>

{% for location in locations %}

<option value="{{ location.id }}">

{{ location.city }}
-
{{ location.address }}

</option>

{% endfor %}

</select>



<label>

Return Location

</label>

<select
name="return_location"
class="form-control mb-3"
required>

{% for location in locations %}

<option value="{{ location.id }}">

{{ location.city }}
-
{{ location.address }}

</option>

{% endfor %}

</select>



<label>

Start Date

</label>

<input

type="date"

name="start_date"

class="form-control mb-3"

required>



<label>

End Date

</label>

<input

type="date"

name="end_date"

class="form-control mb-3"

required>



<button

class="btn btn-success">

Confirm Booking

</button>


</form>

</div>

{% endblock %}