{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<h2>

Welcome,

{{ request.user.username }}

</h2>


<div class="row mt-4">

<div class="col-md-4">

<div class="card p-3">

<h4>

Total Bookings

</h4>

<h2>

{{ bookings.count }}

</h2>

</div>

</div>


<div class="col-md-4">

<div class="card p-3">

<h4>

Active

</h4>

<h2>

{{ active_bookings }}

</h2>

</div>

</div>


<div class="col-md-4">

<div class="card p-3">

<h4>

Cancelled

</h4>

<h2>

{{ cancelled }}

</h2>

</div>

</div>

</div>



<h3 class="mt-5">

Booking History

</h3>



<table class="table">

<tr>

<th>Car</th>

<th>Pickup</th>

<th>Return</th>

<th>Status</th>

<th>Action</th>

</tr>


{% for booking in bookings %}

<tr>

<td>

{{ booking.car.name }}

</td>


<td>

{{ booking.pickup_location.address }}

</td>


<td>

{{ booking.return_location.address }}

</td>


<td>

{% if booking.status == 'Pending' %}

<span class="badge bg-success">

Active

</span>

{% else %}

<span class="badge bg-danger">

Cancelled

</span>

{% endif %}

</td>


<td>

{% if booking.status == 'Pending' %}

<a

href="{% url 'cancel_booking' booking.id %}"

onclick="return confirm(

'Are you sure you want to cancel this booking?'

)"

class="btn btn-danger"

>

Cancel

</a>

{% endif %}

</td>

</tr>

{% endfor %}

</table>

</div>


{% endblock %}